<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MostrarRegistroServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.MostrarRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarUsuarioServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.GuardarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.ActualizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmigosServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.AmigosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtrosServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.OtrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.AgregarAmigosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAmigoServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.BuscarAmigoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostrarRegistroServlet</servlet-name>
        <url-pattern>/MostrarRegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarUsuarioServlet</servlet-name>
        <url-pattern>/GuardarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarServlet</servlet-name>
        <url-pattern>/ActualizarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmigosServlet</servlet-name>
        <url-pattern>/AmigosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtrosServlet</servlet-name>
        <url-pattern>/OtrosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarServlet</servlet-name>
        <url-pattern>/BuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAmigoServlet</servlet-name>
        <url-pattern>/BuscarAmigoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
